<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body{
        text-align: center;
    }
    form div{
        margin: 16px;
    }
    </style>
</head>
<body >
    <p>文章列表</p>
    <ul>
        <% newsList.forEach(function(item){%>
                <li><%=item.title %></li>
                <li>作者：<%=item.author %></li>
                <li><%=item.content %></li>
                <li><%=item.createTime %></li>
                <hr>
        <% }) %>
    </ul>
</body>
</html>